.cruise-alternative img{
    width: 100%;
    max-height: 250px;
}

.cruise-alternative a{
    color: #245F85;
    text-decoration: none;
    font-size:15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 19.2sm;
}

.cruise-alternative .content-text-alternative{
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
}

.content-text-alternative p{
    margin-top: 10px;
    font-style: italic;
    font-size: 12px;
    font-family: Georgia, serif;
    font-weight: 300;
}

.content-alternative-price{
    color:rgb(124, 124, 124);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-align: auto;
    padding-right: 5px;
    padding-bottom: 10px;
    border-bottom: 1px;
    border-color: lightgray;
    border-bottom-style: dotted;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
    display: flex;
}





/*Precio de crucero cambiar*/
.container-price .symbol-price{
    font-size: 12px;
    font-weight: 900;
    color: black;
}

.text-alternative{
    padding-top: 20px;
}

.alternative-price{
    color: black;
    font-size: 30px;
    font-weight: bold;   
}

.alternative-money{
    color: black;
    margin-top: 20px;
}


.container-view-price{
    width: 20%;
    text-align: center;
    margin: auto;
}
.container-price{
    width: 80%;
}

.container-alternative-ship{
    margin-left: 20px;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    display: flex;    
}

.name-black{
    color: black;
    font-size: 11px;
}

.text-blue{
    color: #81C8E8;
}
.span-text{
    font-size: 11px;
}
.text-state{
    font-size: 12px;
    color:rgb(50, 50, 50);   
}



/*Botones*/

.btn-detalles {
    color: rgb(36, 95, 133);
    background-color: #fff;
    border-color: rgb(36, 95, 133);
    border-radius: 0px;
    width: 100%;
    height:40px;
    font-family: inherit;
    font-size: 15px;
    font-weight: bold;
}


.btn-reserva {
    color: #fff;
    background-color: #FF8309;
    border-color: #FF8309;
    border-radius: 0px;
    width: 100%;
    height:40px;
    font-family: inherit;
    font-size: 15px;
    font-weight: bold;
}

.btn-reserva:hover{
   background-color: #E17913;
}


.content-buttons{
    display: flex; 
    width: 100%;
}

.button-container-alternative{
    width: 40%;
    display: flex;  
    margin: auto;
}

/*SOCIAL MEDIA*/

.content-icon-social{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: solid;
    border-radius:50%; 
    font-size: 15px;
    border-width: 1px;
    color: rgb(36, 95, 133);
}

.social-media-share{
    width: 40%;
    margin-top: 20px;
    text-align: right;
}
.social-media-icons{
    width:60%; 
    display: flex;
}
.social-margin{
    margin: 10px;
}

/*PROMOCIONES*/


.content-alternative-promotions{
    color:rgb(124, 124, 124);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-align: auto;
    padding-right: 5px;
    padding-bottom: 10px;
    border-bottom: 1px;
    border-color: lightgray;
    border-bottom-style: dotted;
    display: inline-block;
    width: 100%
}

.title-promotions{
    width: 100%; 
    display: flex;
}

.container-row-promotion{
    width: 100%; 
    display: flex;
}

.container-img-row-promotion{
    padding-top: 10px;
    padding-right: 10px; 
    padding-bottom: 10px;
}

.container-img-row-promotion img{
    width: 30px; 
    height: 26px;
}

.container-text-promotion{
    display: flex;
}

.container-text-promotion span{
    margin: auto;
    color: rgb(50,50,50);
}

.container-promotions{
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
}

/*CHECKBOX*/

.content-alternative-price input[type=checkbox] {
	display:none; 
}
.content-alternative-price input[type=checkbox] + label {
	cursor: pointer;
}
.content-alternative-price label:before {
	content: "";
	background: transparent;
	border: 1px solid rgb(36, 95, 133);
	display: inline-block;
	height: 30px;
	margin-right: 10px;
	text-align: center;
	vertical-align:middle;
	width: 30px;
}
.content-alternative-price input[type=checkbox]:checked + label:before {
	content: '✓';
	font-size: 20px;
	color: rgb(36, 95, 133);
	font-family: "Times New Roman";
}


/*TITULO*/



/*BOTONES DE ABAJO*/

.tail-select-custom-price{
    width: 70%;
    margin: auto;
    font-size: 14px;
    line-height: 40px;
    font-family: inherit;
    font-weight: bold;
    border-style: bold;
    border-style: solid;
    border-color: #d9d9d9;
    border-width: 1px;  
    background-color:#245F85; 
    color: #fff;
    text-align: center
}

.tail-select-custom-price:hover{
    cursor: pointer;
}

.container-button-price-date{
   height: 60px; 
   background-color: rgb(230, 230, 230); 
   display: flex
}

.fa-chevron-down{
 color: #E17913 ;   
}


/*AREA DROPDOWN*/

.container-content-price-date{
    width: 100%;
    border-top-style: bold;
    border-top-style: solid;
    border-top-color: #d9d9d9;
    border-top-width: 1px; 
    
    
}
.container-text-price-date{
    margin-left: 20px;
}

.first-text-price-date{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    
}

.second-text-price-date{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;s
    font-weight: 400;
    margin-bottom: 10px;
}

.container-header-price-date{
    border-top: 1px;
    border-top-style: solid;
    background-color: rgb(230,230,230);
}

.container-padding{
    margin-left: 20px;  
}

.container-text-price-text-dropdown{
    display: flex; 
    width: 100%;   
}

.first-text-header{ 
    display: block; 
    width: 40%; 
    padding-top: 10px; 
    padding-bottom: 10px;
    border-right-style: dotted;
    border-right-color: rgb(170,170,170);
    border-right-width: 1px;
}
.second-text-header{
    display: block; 
    width: 60%; 
    padding-top: 10px; 
    padding-bottom: 10px;
    padding-left: 10px;
}

.text-option-black{
    font-size: 12px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}


.container-options-white{
    border-top: 1px;
    border-top-style: solid;
    background-color: #fff;
    border-bottom-style: solid;
    border-bottom-color: rgb(50,50,50);
    border-bottom-width: 1px;
    
}

.second-option-person-price{
    display: flex; 
    width: 60%; 
    padding-top: 10px; 
    padding-bottom: 10px;
    padding-left: 10px;
}


.first-text-price-prom{
    display: flex; 
    color:rgb(124, 124, 124);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-align: left; 
    width: 20%; 
    margin: auto;
}

.second-text-price-prom{
    display: flex; 
    color:#245F85;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    font-weight: 700;
    text-align: left; 
    width: 40%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}

.third-text-price-prom{
    text-align: right;
    width: 40%; 
    margin: auto;
    padding-right: 20px; 
    color: #FF8309;
}

.icon-third-prom{
    cursor: pointer;
}


/*OPCIONES DE CRUCEROS*/


.container-options-cruise-prices{
    background-color: #fff;
    height: 90px; 
    padding-top: 10px; 
    margin-left: 20px; 
    margin-right: 20px
}

.content-option-cruise{
    background-color: rgb(230,230,230); 
    height: 70px; 
    display: flex;
}


.container-image-text-option{
    padding:10px;
    width: 30%;
}

.container-align-cruise-option{
    text-align: center;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.container-align-cruise-option img{
    height: 20px; 
    width: 20px;
}

.container-price-option-cruise{
    50%;margin: auto; 
    color:#245F85;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    font-weight: 700;
}

.container-option-cruise-arrow{
    width:20%;
    margin: auto; 
    text-align: right; 
    color: #245F85;
}
.container-option-cruise-arrow:hover{
    cursor:pointer;
}


/*TITULO*/

.container-cruise-count{
    display: inline-block;
    width: 100%; 
    text-align: center;
    background-color:rgb(250, 250, 250)
}

.container-text-cruise{
    padding-bottom: 5px; 
    padding-top: 15px
}

.text-cruise{
    font-size: 20px;
    line-height: 16px;
}

.text-vacations{
    font-size: 25px;
    line-height: 20px;
    padding: 0 15px; 
    font-weight: 700
}

.container-counter{
    padding-top: 15px;
}

.text-count{
    display: block;
    width: auto;
    margin: -15px 0 15px;
    padding: 0;
    font-family: Georgia,serif;
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    color: #323232;
}

.container-all{
    display: flex;
}

.content-menu-right{
    display: none;
}










@media (min-width:350px){
    .tail-select-custom-price{
        width: 50%;
    }
    
    .social-media-share{
        width: 60%
    }
    .social-media-icons{
        width: 40%;
    }
    
   
    
}


@media (min-width:600px){
    .tail-select-custom-price{
        width: 40%;
    }
    
    .social-media-share{
        width: 60%
    }
    .social-media-icons{
        width: 40%;
    }
    
    
    
}

@media (min-width:800px){
    
    .all-content-cruise-options{
        width: 60%;  
    }
    
    .tail-select-custom-price{
        width: 60%;
    }
    
    .content-menu-right{
        width: 40%;
        display: block
    }
    .none{
        display: none;
    }
}

@media (min-width:1000px){
    .all-content-cruise-options{
        width: 70%;  
    }
    .content-all{
        margin:20px;
    }
    
    .cruise-alternative img{
        max-height: 350px;
    }
    
     .social-media-share{
        width: 70%
    }
    .social-media-icons{
        width: 30%;
    }
    
    .tail-select-custom-price{
        width: 40%;
    }
    
    
}




