@import url(Menu.css);
@import url(Destinos.css);
@import url(Popup.css);
@import url(Contenedor.css);
@import url(Footer.css);

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    width: 100%;
    display: table;
    overflow-y: hidden;
    color: rgb(0, 113, 166);
}


